<h1><%= @pet.name %></h1>
<p class="pet_type"><%= @pet.type %></p>
<p><%= @pet.name %> has been at the shelter since <%= @pet.date_formatted %>.</p>

<form method="post" action="/pets/<%= @pet.id %>/update">
  <label>
    Adoptability:
    <select name="adoptable">
      <option value="t" <%= "selected" if @pet.adoptable %>>Adoptable</option>
      <option value="f" <%= "selected" if !@pet.adoptable %>>Not Adoptable</option>
    </select>    
  </label>

  <label>
    Owner:
    <select name="owner_id">
      <% for owner in @owners %>
  <option value="<%= owner.id %>" <%= "selected" if owner.id == @pet.owner_id %>><%= owner.name %></option>
      <% end %>
    </select>
  </label>

  <input type="hidden" name="name" value="<%= @pet.name %>">
  <input type="hidden" name="type" value="<%= @pet.type %>">
  <input type="hidden" name="admission_date" value="<%= @pet.admission_date %>">

  <input type="submit" value="Update" />
</form>



